{% extends 'app/base.html' %}
{% load static %}

{% block suscripcion %}
<h2>Acerca de mi<h2>
    <div class="text-center text-black">


        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Francisco Javier Fraire Barraza</h5>
              <p class="card-text">Estudio matematicas en la facultad de ciencias de la UNAM. Tengo un particular interes por la ciencia de datos, por lo que me encuentro tomando cursos de programacion</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ciudad de México</li>
              <li class="list-group-item">26 años</li>
              

            </ul>
            <div class="card-body">
              <a href="https://github.com/facjavs" class="card-link">Mi github</a>
            </div>
          </div>

        <p>CONARTE es una app que tiene como proposito la difusion de proyectos artisticos y al mismo tiempo, funcione como plataforma para la compra y venta de las mismas, y los artistas puedan tener un sustento.</p>
        <p>En esta primera etapa del proyecto, solo es una plataforma de compra y venta, pero pienso irlo actualizando para que se vuelva una plataforma de difusion.</p>

    </p>
    </div>

{% endblock suscripcion %}


{% block vendedoresprincipales %}
    
{% endblock vendedoresprincipales %}


{% block contacto %}
    
{% endblock contacto %}


{% block ventajas %}
    
{% endblock ventajas %}