{% extends 'app/base.html' %}
{% load static %}

{% block suscripcion %}
<h2>Busca tu pieza de arte<h2>
    <form action="/buscar3" method="get">
        {% csrf_token %}
        <p>Buscar tu acuarela: <input type="text" name="buscar" id="buscar"></p>
        <input type="submit" value="Enviar">
    </form>
    
{% endblock suscripcion %}


{% block vendedoresprincipales %}
    
{% endblock vendedoresprincipales %}


{% block contacto %}
    
{% endblock contacto %}


{% block ventajas %}
    
{% endblock ventajas %}